@import "tailwindcss";

@theme {
  --color-choco-50: #FDF8F6;
  --color-choco-100: #F5EBE6;
  --color-choco-200: #E6D3CB;
  --color-choco-800: #3D2822;
  --color-choco-900: #2B1E1A;
  --color-choco-950: #1A110E;

  --color-caramel-500: #D97706;
  --color-caramel-600: #B45309;

  --color-biscuit: #F59E0B;
  --color-creme: #FFFBEB;
}

body {
  background-color: var(--color-creme);
  color: var(--color-choco-900);
  font-family: 'Plus Jakarta Sans', sans-serif;
}